[Unit]
Description=Gunicorn instance to serve Transition OS
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/LPL
Environment="PATH=/home/ubuntu/LPL/venv/bin"
Environment="DATABASE_URL=postgresql://postgres:prince12345678@transition-os-db.csxq4yaemku3.us-east-1.rds.amazonaws.com:5432/postgres"
ExecStart=/home/ubuntu/LPL/venv/bin/uvicorn backend.main:app --host 0.0.0.0 --port 8000

[Install]
WantedBy=multi-user.target
